<configuration>  
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\inetpub\wwwroot\FaceAPI\env\Scripts\python.exe|D:\inetpub\wwwroot\FaceAPI\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Execute" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="server.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="D:\inetpub\wwwroot\FaceAPI" />  
  </appSettings>
</configuration>  